* { 
  box-sizing: border-box; 
}
html {
  margin: 0;
  height: 100%;
}
 

body {
	margin: 0;
	background-color: #151515;
	height: 100%;
}

.MainContainer {
	width: 80%;
    height: 100%;
    margin: 0 auto;
    -webkit-transition: all 400ms;
    border: 1px solid white;
}

.HeaderTitle {
    font-size: 400%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-family: 'Cinzel';
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
    -webkit-transition: all 400ms;
}